header {
    background-image: linear-gradient(#fb8500, #ffba08); }

header label:hover {
        background: rgba(0, 0, 0, 0.3); }

.menu li:hover {
        background: rgba(0, 0, 0, 0.3); }

.menu li a {
        color: #fff; }

.texto1 {
        color: #fff; }

.texto2 {
        color: #fff; }

.tituloseccion1 {
        color: #fb8500; }

.subtitulosseccion1 {
        color: #444; }

.txtseccion1 {
        color: #444; }
    
footer {
        background-color: #b2b6b9; }

footer h5 {
        color: #fff; }

.txtfooter {
        color: #444; }

.tituloseccion2 {
        color: #fb8500; }
          
          